# {
#     "metadata": {},
#     "status": "Failure",
#     "message": "Internal error occurred: Pod: \"my-pod\": yaml: unmarshal errors:\n  line 24: key \"containers\" already set in map",
#     "reason": "InternalError",
#     "details": {
#         "causes": [
#             {
#                 "message": "Pod: \"my-pod\": yaml: unmarshal errors:\n  line 24: key \"containers\" already set in map"
#             }
#         ]
#     },
#     "code": 500
# }
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  containers:
  - name: my-container
    image: my-image:latest
  containers:
  - name: my-container
    image: my-image:latest