# {
#    "metadata": {},
#    "status": "Failure",
#    "message": "Internal error occurred: Pod: \"my-pod\": containers: Invalid value: value provided for unknown field",
#    "reason": "InternalError",
#    "details": {
#        "causes": [
#            {
#               "message": "Pod: \"my-pod\": containers: Invalid value: value provided for unknown field"
#            }
#        ]
#    },
#    "code": 500
# }
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
containers:
- name: my-container
  image: my-image:latest
  resources:
    limits:
      cpu: "1"
      memory: "512Mi"
    requests:
      cpu: true
      memory: "256Mi"