# {
#     "status": "Success",
#     "message": ""
# }
apiVersion: batch.x-k8s.io/v1alpha1
kind: JobSet
metadata:
  name: js-hostnames
spec:
  jobs:
  - name: cool-job
    network:
      enableDNSHostnames: true
    template:
      metadata:
        name: cool-job-template
      spec:
        completionMode: Indexed
        template:
          metadata:
            name: cool-pod-template
          spec:
            containers:
            - image: nginx
              name: nginxcontainer
---
# {
#   "metadata": {},
#   "status": "Success"
# }

# Shows that x-kubernetes-list- extensions can pass validation
# "ports": {
#   "description": "Ports are not allowed for ephemeral containers.",
#   "type": "array",
#   "items": {
#     "default": {},
#     "allOf": [
#       {
#         "$ref": "#/components/schemas/io.k8s.api.core.v1.ContainerPort"
#       }
#     ]
#   },
#   "x-kubernetes-list-map-keys": ["containerPort", "protocol"],
#   "x-kubernetes-list-type": "map",
#   "x-kubernetes-patch-merge-key": "containerPort",
#   "x-kubernetes-patch-strategy": "merge"
# },
apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
spec:
  containers:
    - name: nginx
      image: nginx
      ports:
        - protocol: UDP
          containerPort: 88
        - containerPort: 88
          protocol: TCP
