name: ci

on:
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.0
      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      - name: Check go.mod
        run: go mod tidy && git diff --exit-code
      - name: Build
        run: go build ./cmd/... ./pkg/...
      - name: Check code format
        run: |
          diff=$(gofmt -s -d cmd pkg *.go)
          if [[ -n "${diff}" ]]; then echo "${diff}"; exit 1; fi
